body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

/* HEADER */
.header {
  padding: 20px;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.robotech-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

.logos img {
  height: 60px;
}

h1 {
  color: #ff7a00;
}

/* TIMER */
.timer {
  text-align: center;
  margin: 10px;
  font-size: 18px;
}

/* LAYOUT */
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* PALETTE */
.palette {
  width: 200px;
  background: #141414;
  padding: 15px;
  border-radius: 8px;
}

.q-btn {
  width: 40px;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unanswered {
  background: gray;
}

.answered {
  background: #3cb371;
}

.marked {
  background: orange;
}

.legend {
  font-size: 12px;
  margin-top: 10px;
}

/* QUESTION BOX */
.question-box {
  flex: 1;
  background: #141414;
  padding: 20px;
  border-radius: 8px;
}

.question {
  font-size: 18px;
}

.options label {
  display: block;
  margin: 8px 0;
}

/* ACTIONS */
.actions button {
  margin-right: 10px;
  margin-top: 15px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* SUBMIT */
.submit-box {
  text-align: center;
  margin: 20px;
}

#submit {
  background: orange;
  padding: 12px 30px;
  border: none;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#submit:disabled {
  background: #555;
  cursor: not-allowed;
}